.font-size-handle{
    font-size: 17px;
}
/* for image rounded */
.img-circle{
    margin-top: 10px;
    height: 200px;
    clip-path: circle();
}
/* card hover style */
.card:hover{
    box-shadow: 0px 0px 30px grey;
}